<div class="border-black p-4 flex flex-col gap-7">
  <div class="flex justify-between">
    <h2 class="text-xl">Post #<%= post.id %> by <%= @user.name %></h2>
    <div class="flex flex-row gap-5">
      <p>Comments <%= post.comments_counter || 0 %></p>
      <p>Likes <%= post.likes_counter || 0 %></p>
    </div>
  </div>
  <p><%= post.text %></p>
</div>